doctype
html
  head
    title Login
    script(src='https://cdn.jsdelivr.net/superagent/0.18.0/superagent.min.js')
  body(style='text-align: center')
    block content
    header
      h1 Log In
      p=notAuthorized
      p=message
    br
    br
    p Please enter your username and password to log in:
    form(onsubmit='signin(event.target); return false;')
      div Username:
        input(name='username')
      br
      div Password:
        input(name='password' type='password')
      br
      input(type='submit' value='Login')
      br
      h6(id='error') Please sign in
      br
    p If you have not registered for our website please click the button below to sign up.
    a(href='/user/register') Click to Register
      br
    footer
      h6 @MaxJacobsen
    script.
      function signin(form){
        var error = document.getElementById('error');
        if(error.innerHTML){
          error.innerHTML = 'Please Sign In';
        }
        superagent.get('/user/signin')
          .auth(form.username.value, form.password.value)
          .end(function(error,response){
            if(response.body.token) {
              localStorage.setItem('token', response.body.token);
              window.location.href = '/home/'+form.username.value;
            } else {
              document.getElementById('error').innerHTML = 'Sorry, Unknown username/password'
            }
          })
      }
