doctype
html
  head
    title Login
  body(style='text-align: center')
    block content
    header
      h1 Log In
      p=notAuthorized
      p=message
    br
    br
    p Please enter your username and password to log in:
    form(method='POST')
      div Username:
        input(name='username')
      br
      div Password:
        input(name='password' type='password')
      br
      input(type='submit' value='Login')
      br
      br
    p If you have not registered for our website please click the button below to sign up.
    a(href='/register') Click to Register
      br
    footer
      h6 @MaxJacobsen
