doctype
html
  head
    title Not Authorized
  body(style='text-align: center')
    block content
    header
      h1 You do not have the authorization to view that page
    p Please sign in or register to continue with the correct credentials
    br
    br
    a(href='/register') Sign Up
    br
    br
    a(href='/login') Log In
