doctype
html
  head
    title home
  body(style='text-align: center')
    block content
      h4= error
      p You are currently signed in as :  
        span(style='color:red; font-weight: bolder')= username
      a(href='/home')= home
    br
    a(href='/logout') Log Out
    footer
      h6 @MaxJacobsen
